<mat-toolbar color="primary">
  <button mat-button (click)="goToHomePage()">{{"header.applicationName" | translate}}</button>
  <span class="spacer"></span>
  <select id="languageSelect" name="languageSelect" [(ngModel)]="language" (change)="changeEffect()" [value]="language">
    <option *ngFor="let lang of getTranslateService().getLangs()"
            value="{{lang}}"
            selected="{{getTranslateService().currentLang === lang}}">
      {{lang}}
    </option>
  </select>
  <button mat-button (click)="goToLogin()"> {{"header.login" | translate }}</button>
</mat-toolbar>
